#!/usr/bin/env python

import os
import re

from novaclient import client

nova = client.Client(2,
                     os.environ.get("OS_USERNAME"),
                     os.environ.get("OS_PASSWORD"),
                     os.environ.get("OS_TENANT_NAME"),
                     os.environ.get("OS_AUTH_URL"))
nodes = []
for server in nova.servers.list():
    name = server.name
    # find controllers
    if re.match('overcloud-controller-.*', name):
       type = 'controller'
    # OSP7 and OSP8 use different names for the compute nodes, match both
    elif re.match('overcloud.*compute-.*', name):
        type = 'compute'
    else:
        type = ''
    node = {'name': name, 'ip': server.networks['ctlplane'][0], 'type': type}
    nodes.append(node)

print(nodes)
