*.iml
dist/
.eggs/
.venv/
.os-client/
osp7_installer.egg-info/
bootstrap.conf
bxb-conf/
scripts/
AUTHORS
ChangeLog
target/
*.pyc
*~
.idea/
target-*

id_rsa_undercloud
id_rsa_undercloud_instance
ssh.config.ansible
