
Host undercloud
    HostName {{ director_node_ssh_ip }}
    User stack
    IdentityFile id_rsa_undercloud_instance
    User stack
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

{% if groups["overcloud"] is defined %}
{% for host in groups["overcloud"] %}
Host {{ host }}
    ProxyCommand ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=60 -i ~/.ssh/id_rsa -F ssh.config.ansible undercloud -W {{ hostvars[host].ansible_fqdn }}:22
    IdentityFile id_rsa_undercloud
    IdentitiesOnly yes
    User heat-admin
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
{%endfor %}
{%endif %}
